<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/resources :: headTags}">
</head>
<body>
   
    <nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navbar(current)">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Pizzeria Carletto</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    <a class="nav-link" th:href="@{/pizzas}">Pizzas</a>
                    <a class="nav-link" th:href="@{/ingredients}">Ingredients</a>
                </div>
            </div>
        </div>

        	<div class="user-info" sec:authorize="isAuthenticated()">  
				Logged user: <span sec:authentication="name" class="fw-bold me-2"></span>
				Roles: <span sec:authentication="principal.authorities" class="fst-italic me-2"></span>
				<a class="btn btn-sm btn-outline-primary " href="/logout">Sign out</a>      
			</div>
            
            <div class="user-info" sec:authorize="isAnonymous()">
                <a class="btn btn-sm btn-outline-secondary" href="/login">Login</a>
            </div>
    </nav>
   

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>
</html>